*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
body{
    position: relative;
}
header{
    display: block;
}
header img{
    height: 40px;
    width: 40px;
    margin: 0 20px;
}
header span{
    color: #ff3399;
}
.h1{
    display: flex;
    height: 50px;
    align-items: center;
}
.h11{
    width: 80%;
}
.h12{
    display: flex;
}
.h2{
    display: flex;
    height: 50px;
    align-items: center;
    background-color: #ff3399;

}
.h2 ul{
    display: flex;
    width: 100%;
    justify-content: space-around;
    position: relative;
}
.h2 li{
    height: 50px;
}
.h2 a{
    color: #fff;
    line-height: 50px;
}
.h2 a:hover{
    color: #ffccff;
}
.h21{
    width: 40%;
}
.h22{
    display: flex;
    position:absolute;
    right: 20px;
}
.h22 input{
    height: 40px;
}
section{
    margin-top: 30px;
    display: flex;
}
nav{
    width: 250px;
    margin-right: 20px;
}
nav h1{
    height: 40px;
    width: 250px;
    padding: 0 10px;
    background-color: #ffcc33;
    color: #000;
    line-height: 40px;
}
nav ul{
    width: 250px;
    border: 1px solid #999999;
}
nav li{
    width: 250px;
    height: 30px;
    border-bottom: 1px solid #999;
}
nav a{
    color: #000;
    width: 250px;
    line-height: 30px;
    display: inline-block;
    padding: 0 10px;
}
nav a:hover{
    background-color: rgb(225, 223, 223);
}
.cha{
    position: relative;
}
.con{
    position: absolute;
    top: -1px;
    left: 250px;
    border: none;
    display: none;
}
.con li{
    border: none;
}
.cha:hover .con{
    display: block;
}
.ct{
    width: 100%;
    justify-content: space-around;
}
.ct1{
    width: 100%;
    justify-content: space-around;
}
.dong{
    display: flex;
    width: 100%;
}
.dong img{
    height: 200px;
    width: 200px;
}
.cot{
    width: calc(100% /4);
}
.cot1{
    text-align: center;
}
.cot h3{
    height: 30px;
    line-height: 30px;
    font-weight: normal;
}
.cot p{
    font-weight: bold;
}
h2{
    text-align: center;
    margin: 20px 0;
}
.cot h3:hover{
    color: #ff33cc;
}
.ht{
    position: absolute;
    top: 200px;
    left: 20%;
    z-index: 100;
    height: 350px;
    width: 700px;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
    display: none;
}
.ht img{
    height: 300px;
    width: 300px;
    margin: 0 20px;
}
.cot:hover .ht{
    display: flex;
}
